.app {
  width: 100%;
}
.topBar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.875rem 0;
  margin-bottom: 2rem;
  z-index: 3;
}
.heading {
  margin: 0 0 1.25rem 0;
}
.searchInput {
  width: 80%;
  position: relative;
}
.suggestions {
  position: absolute;
  top: 3rem;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem !important;
  max-height: 12rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.suggestions::-webkit-scrollbar {
  display: none;
}
.suggestions > p {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  color: black;
  cursor: pointer;
}
.clearBtn {
  width: 100%;
  background-color: #eee;
  text-align: right;
  padding: 0.5rem 1rem;
  position: sticky;
  bottom: 0;
}
.clearBtn > .btn {
  width: 6rem;
  padding: 0.5rem;
}
.displayBox {
  width: 100%;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);
  flex-wrap: wrap;
  padding: 0 1.25rem;
  margin-bottom: 1.25rem;
}
.imageContainer {
  width: 100%;
  cursor: pointer;
}
.imageContainer > img {
  width: 100%;
}
.modal-backdrop.show {
  opacity: 0.8;
}
.modal-dialog {
  top: 5%;
}
.modal-header {
  align-items: flex-start;
}
.modal-title {
  width: 90%;
  overflow: hidden;
}
.modal-title > h4 {
  width: 100%;
  text-overflow: ellipsis;
  padding-top: 1rem;
}
.modal-body > img {
  width: 100%;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}
.spinner-grow {
  margin-right: 0.625rem;
}
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}
.error > img {
  width: 20%;
}
@media (min-width: 992px) {
  .searchInput {
    width: 50%;
  }
  .displayBox {
    grid-template-columns: repeat(3, 1fr);
  }
}
